 {% extends "Cliente/base.html" %} {% block title%} Histórico de Serviços {% endblock%}
 {% block content %}
 <main class="content">
          
      <div class="historico-card">
        <p><strong>Data:</strong> 10/05/2025</p>
        <p><strong>Serviço:</strong> Troca de óleo</p>
        <p><strong>Status:</strong> Finalizado</p>
        <p><strong>Observações:</strong> Cliente recomendou óleo 20W50</p>
        <p><strong>Avaliação:</strong> ⭐⭐⭐⭐☆</p>
      </div>

      <div class="historico-card">
        <p><strong>Data:</strong> 01/05/2025</p>
        <p><strong>Serviço:</strong> Revisão geral</p>
        <p><strong>Status:</strong> Cancelado</p>
        <p><strong>Observações:</strong> Cliente desmarcou 1 dia antes</p>
        <p><strong>Avaliação:</strong> -</p>
      </div>

      <!-- Adicione outros históricos dinamicamente -->
    </main>

{% endblock %}