{% load static %}
<aside class="sidebar">
  <h2>🔧 Mecânico</h2>
  <img src="{% static 'image/Logo.png' %}" alt="Logo" class="logo" />
  <nav>
    <ul>
      <li><a href="{% url 'dashboard-mecanico' %}"
          class="{% if request.resolver_match.url_name == 'dashboard-mecanico' %}ativo{% endif %}">Inicio</a></li>
      <li><a href="#"
          class="{% if request.resolver_match.url_name == 'historico-mecanico' %}ativo{% endif %}">Histórico</a>
      </li>
      <li><a href="#" class="{% if request.resolver_match.url_name == 'servicos-mecanico' %}ativo{% endif %}">Meus
          Serviços</a>
      </li>
    </ul>
    <div class="logout-button">
      <a href="{% url 'logout-mecanico' %}">Sair</a>
    </div>
  </nav>
</aside>