{% extends 'Mecanico/base.html' %}
{% load static %}

{% block title %}Dashboard - Mecânico{% endblock %}
{% block content %}
<main class="content">
  <h1> Bem-vindo {{mecanico.nome_completo}}!</h1>
  {% if messages %}
  {% for message in messages %}
  <div class=" alert alert-{{ message.tags }}">{{ message }} </div>
  {% endfor %}
  {% endif %}
  <div class="info-section">
    <h2>Agendamentos Pendentes</h2>

    {% if agendamentos_pendentes %}
    <table>
      <tr>
        <th>Cliente</th>
        <th>Serviço</th>
        <th>Data/Hora</th>
        <th>Ações</th>
      </tr>

      {% for a in agendamentos_pendentes %}
      <tr>
        <td>{{ a.cliente.usuario.first_name }} {{ a.cliente.usuario.last_name }}</td>
        <td>{{ a.servico.nome }}</td>
        <td>{{ a.data_hora|date:"d/m/Y H:i" }}</td>
        <td>
          <a href="#" class="btn-editar">
            Iniciar Serviço
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <p style="text-align: center; color: #666;">Nenhum agendamento pendente.</p>
    {% endif %}
  </div>
</main>
{% endblock %}